<div class='content'>
  <p> In an attempt to figure out which aspects on a web page effect its ranking
  I have created this project called the armadillio to zebra google juice test.
  The name armadillio to zebra google juice test is to be random enough to not 
  effect anybodies real search results.</p>
  
  <p>for the armadillio to zebra google juice test i will be have several pages
  with the same main body content while varying certain apsect of the page.</p>
  
  <p>The URLs for the pages on armadillio to zebra google juice test will be 8 
  charater alpha numeric, avioding english words so as to not effect the ranking 
  except when the url derivatives form part of the test. </p>
</div>
