<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
  <% if @title %><title>armadillio to zebra google juice test</title><% end %><%= partial( :analytics ) %>
  </head>
  <body>
  <% if @heading %><h1>armadillio to zebra google juice test</h1><% end %>
    <%= partial( :body )%>
  </body>
</html>
