<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
  <%= partial( :analytics ) %>
  </head>
  <body>
    <nav>
    <% ['WA3kM6', 'Qv8P3L', 'GyDhEk', 'EXbUQh'].shuffle.each do |page| %>
    <a href='<%= page %>'><%= page %></a>
  <% end %>
    </nav>
  </body>
</html>
