<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
  <%= partial( :analytics ) %>
  </head>
  <body>
    <nav>
    <% @pages.shuffle.each do |page| %>
    <a href='<%= page %>'><%= page.gsub('armadillio_to_zebra_google_juice_test_', '') %></a>
  <% end %>
    </nav>
  </body>
</html>
